body {background-color:palegoldenrod;}
[class*=main] img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.index-main table{
    max-height: 600px;
    object-fit: cover;
}


/*Navigation bars*/
.navigation{
    background-color:saddlebrown;
}

.navigation a{
    font-size: 200%;
    font-weight: bold;
}
.navigation a:link{
    color : white;
}

.navigation a:visited{
    color : white;
}

#navigation_links{
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    justify-content: space-around;
}

/*Index page*/
/*index main*/
.index-main img{
    max-height: 500px;
}
.index-main{
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 100px;
    column-gap: 100px;
    max-height: 700px;
    max-width: 1366px;
}
/*Seasonal Anime page*/
.seasonal—main div.recommendation > img, .historical—main div.recommendation > img{
    max-height: 400px;
}
table.anime_item img{
    max-height: 300px;
}
/*seasonal main*/
.seasonal—main div.header{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 100px;
    max-width: 1366px;
}
.seasonal—main ul.jumpers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 135%;
}
.weekday{
    color: white;
    background-color: #ed7d31;
}

.weekly_schedule ul.daily_anime{
    display:flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: wrap;
}

.anime_item{
    background-color: #f8cbad;
    max-width: 300px;
    align-content: center;
}


.anime_item:hover{
    background-color: #ed7d31;
}



/*Detailed anime page*/
.anime-detail-main div.anime_name{grid-area: title;}
.anime-detail-main div.poster{grid-area: poster;}
.anime-detail-main div.description{grid-area: description;}
.anime-detail-main div.pv{grid-area: pv;}
.anime-detail-main div.tags{grid-area: tags;}
.anime-detail-main div.staff{grid-area: staff;}
.anime-detail-main div.cv{grid-area: cv;}
.anime-detail-main div.time{grid-area: time;}

.anime-detail-main{
    max-width: 1366px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas:
    'title title title title'
    'poster pv pv pv'
    'poster pv pv pv'
    'tags description description description'
    'time staff staff cv'
    'time staff staff cv';
    gap:10px;
    margin-right: 50px;
    margin-left: 50px;
}
.anime-detail-main > *{
    width: 100%;
    background: orange;
}


/*Historical anime*/
.historical—main div.recommendation{
    margin-left: 30px;
    max-width: 1366px;
}

[class*=list] table{
    margin-left: 30px;
    margin-right: 30px;
    border-collapse: collapse;
    text-align: center;
    max-width: 1366px;
    width: 100%;
}

[class*=list] table tbody{
    width: 100%;
}

[class*=list] table th{
    background-color: #ed7d31;
    color: white;
    font-size: 150%;
}

[class*=list] table td,[class*=list] table th {
    border: 1px solid #f4b084;
    padding: 16px;
    font-size: 150%;
}

[class*=list] table tr:nth-child(even){
    background-color: #fce4d6;
}

[class*=list] table tr:hover{
    background-color: #f8cbad;
}